spring:
  application:
    name: assets-manager

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/${POSTGRES_DB:assets_db}}
    username: ${SPRING_DATASOURCE_USERNAME:${POSTGRES_USER:admin}}
    password: ${SPRING_DATASOURCE_PASSWORD:${POSTGRES_PASSWORD:admin}}
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 20000
      maximum-pool-size: 10
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: public
    open-in-view: false

server:
  port: ${SERVER_PORT:8080}
  error:
    whitelabel:
      enabled: false

# Springdoc / Swagger UI (optional overrides)
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
